@use './variables' as variables;

body {
  font-family: 'Inter', Arial, sans-serif;
  background: variables.$color-bg;
  color: variables.$color-text;
  min-height: 100vh;
}

.main-content {
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.main-title {
  font-size: variables.$font-size-xl;
  font-weight: variables.$font-weight-bold;
  margin-top: 8rem;
  margin-bottom: 1rem;
  color: variables.$color-text;
}

#controls-bar {
  margin: 2rem auto;
  max-width: 68.75rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: variables.$font-weight-bold;
}

@media (max-width: #{variables.$breakpoint-mobile}) {
  .main-title {
    text-align: center;
  }
}
