@use './variables' as variables;

#view-controls {
  display: flex;
  align-items: center;
  button {
    background: none;
    border: none;
    color: variables.$text-light;
    font-size: 1.25em;
    padding: 0.25em 0;
    cursor: pointer;
    transition:
      color 0.2s,
      background 0.2s;
    outline: none;
    &:first-child {
      border-radius: 0.5em 0 0 0.5em;
    }
    &:last-child {
      border-radius: 0 0.5em 0.5em 0;
    }
  }
}
