@use '../variables' as variables;

.column-headers {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  max-width: none;
  min-width: 0;
  margin: 0 0 0.5em 0;
  padding: 0 2em;
  color: variables.$color-text-secondary;
  font-weight: 600;
}
