@use '../variables' as variables;

.document-list-headers {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  margin-bottom: 1em;
  padding: 0 2em;
  color: variables.$color-text-secondary;
  .header-name {
    padding-left: 1rem;
  }
}
@media (max-width: #{variables.$breakpoint-mobile}) {
  .document-list-headers {
    display: none;
  }
}
