@use '../variables' as variables;

#view-controls {
  display: flex;
  button {
    padding: 0.25em;
    color: variables.$color-text-secondary;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: variables.$font-size-xl;
    font-weight: variables.$font-weight-bold;
    transition: color variables.$transition-time;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      padding-right: 0;
    }
    &:last-child {
      padding-left: 0.5em;
    }
  }
}

@media (max-width: #{variables.$breakpoint-mobile}) {
  #view-controls {
    display: none;
  }
}
