@use 'sass:color';
@use '../partials/button';
@use '../variables' as variables;

.modal-form-container {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 2.5rem;

    label {
      font-size: variables.$font-size-base;
      color: variables.$color-text;
      font-weight: variables.$font-weight-bold;
      margin-bottom: variables.$margin-xs;
    }

    input[type='text'],
    input[type='number'] {
      margin-top: 0.4em;
      padding: 0.7em 1em;
      border: 1.5px solid variables.$color-border;
      border-radius: variables.$radius;
      font-size: variables.$font-size-base;
      background: variables.$color-surface;
      color: variables.$color-text;
      transition: border-color variables.$transition-time;
      width: 100%;
      &:focus {
        border-color: variables.$color-text-secondary;
        background: variables.$color-surface;
        outline: 1px solid variables.$color-text-secondary;
        outline-offset: 0;
      }
    }

    .submit-btn {
      grid-column: 1 / -1;
      @extend .btn;
    }

    .form-feedback {
      font-size: variables.$font-size-base;
      margin-top: variables.$margin-xs;
      grid-column: 1 / -1;
    }
  }
}
